
.app{
 height:100vh;
 background-color: #333745;
 background-image: url("./register.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding : 1em;
 
}
.login{
    height:100vh;
    background-color: #333745;
    background-image: url("./chattime.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding : 1em;
    
   }
.form-body{
    color: #20222b;
}